hosting for google play 30$
hosting for ios 150$ for appstore
monthly AI subscription that run the system 50$
supabase fees 45$
google gemini for google calendar and reminders  40$
server side hosting (admin management ) 100$ 
domain  email subs name for email 24$ per month 
